button:focus {
    outline: 0;
}

body {
    margin: 0px;
    padding: 0px;
    color: orange;
}

* {
    overflow: hidden;
}

button {
    position: absolute;
    color: white;
    padding: 15px 50px;
    border-radius: 50px;
    border-color: #F0932B;
    background-color: #130f40;
    transition: .2s all ease-in-out;
    cursor: pointer !important;
    font-size: 1.3rem;
}

button:hover {
    background-color: #CA700C !important;
}

#gui-start {
    position: absolute;
    background-image: url("../images/menu/menu5.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}

#gui-start button {
    position: relative;
    margin: 1rem 0;
    width: 15rem;
}

#btn-start,
#btn-reset,
#btn-howto,
#btn-zombiewar {
    background-color: #f0932b;
}

#gui-video {
    display: float;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("paper.gif");
}

.gameover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/gameover.png");
    background-size: cover;
    background-position: center;
    display: none;
    align-items: center;
    justify-content: center;
}

#btn-closehowto {
    top: 10%;
    left: 85%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

instrucciones {
    position: absolute;
    display: none;
    background-image: url("../images/gameover.png");
    background-size: cover;
}